{% extends 'bases/base_dashboard.html' %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1 class="h3 mb-4 text-gray-800">Produtos</h1>
    <div>
        <a href="{% url 'products:create' %}" class="btn btn-success shadow">
            <i class="fas fa-plus"></i> Novo Produto
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-md-8"></div>
                    <div class="col-12 col-md-4">
                        <form method="get" class="form-inline float-right">
                            <div class="input-group">
                                <input type="text" class="form-control" 
                                    placeholder="Pesquisar" name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Data de criação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in object_list %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.created_at }}</td>
                                <td>
                                    <div>
                                        <a href="{% url 'products:update' product.pk %}" 
                                            class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                    {% empty %}
                    <tr>
                        <td class="text-center" colspan="100%">
                            Nenhum dado cadastrado
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        
    </div>
</div>
</div>
</div>

{% endblock %}